<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blog.app.rohit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/loveicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/loveicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.blog.app.rohit.MainActivity" />
        <activity
            android:name="com.blog.app.rohit.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.blog.app.rohit.categories.Attitude"/>
        <activity android:name="com.blog.app.rohit.categories.BestWishesh"/>
        <activity android:name="com.blog.app.rohit.categories.BirthDay"/>
        <activity android:name="com.blog.app.rohit.categories.Couple"/>
        <activity android:name="com.blog.app.rohit.categories.FriendShipDay"/>
        <activity android:name="com.blog.app.rohit.categories.Funny"/>
        <activity android:name="com.blog.app.rohit.categories.God"/>
        <activity android:name="com.blog.app.rohit.categories.GoodMorning"/>
        <activity android:name="com.blog.app.rohit.categories.GoodNight"/>
        <activity android:name="com.blog.app.rohit.categories.Love"/>
        <activity android:name="com.blog.app.rohit.categories.Romantics"/>
        <activity android:name="com.blog.app.rohit.categories.ValentineDay"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>